* {
  /* background-color: whitesmoke; */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* Navbar */
.navbar-nav {
  font-size: 18px;
}
/* Navbar */
.btn:hover {
  color: white;
}
.navbar {
  position: sticky !important;
  top: 0;
  z-index: 1;
}
/*progress bar */
.progress {
  height: 30px;
  border-radius: 50px;
  transition: all 0.5s ease;
}
.progress:hover {
  transform: scale(1.1);
}
/* card bar */
.card {
  border-radius: 50px;
  transition: all 0.5s ease;
}
.card img {
  height: 100px;
  width: 100px;
  margin: auto;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 1px 2px 10px black;
}
/* carousel */
.carousel-item {
  max-height: 550px;
}
/* Image Profile */
.img-profil {
  max-height: 500px;
}
